@tailwind base;
@tailwind components;
@tailwind utilities;


  
@font-face {
    font-family: urbanist;
    src: url(./assets/fonts/Urbanist-VariableFont_wght.ttf);
}

body{
  @apply bg-[#ecf5f7b8] dark:bg-[#101820] dark:text-white;
  font-family: "Inter", sans-serif;
}

