@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  
@font-face {
    font-family: urbanist;
    src: url(./assets/fonts/Urbanist-VariableFont_wght.ttf);
}

#sidebar{
background: black !important;
}

body{
    font-family: urbanist;
    background: #f5f6fc;
    @apply dark:bg-[#15202B] ;
}
