@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  
@font-face {
    font-family: urbanist;
    src: url(./assets/fonts/Urbanist-VariableFont_wght.ttf);
}

body{
    display: block;
    padding: 0;
    margin: 0 auto;
    font-family: urbanist;
    padding: 0;
    margin: 0;
    background: #f8fdff;
    @apply dark:bg-slate-900 ;
}
