@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
  
@font-face {
    font-family: urbanist;
    src: url(./assets/fonts/Urbanist-VariableFont_wght.ttf);
}

body,html{
  @apply bg-[#ecf5f7b8] dark:bg-[#101820] dark:text-white;
    padding: 0;
    margin: 0 auto;
    font-family: urbanist;
}

